{%extends "base.html"%}

{%block content%}
<div class='container'>
    <h1>add.html</h1>
    <h2>Add new car to db</h2>
    <form action="" method='POST'>
        {% csrf_token %}
        <div class='form-group'>
            <label for="brand">Brand:</label>
            <input class='form-control' type="text" id='brand' name='brand'>
        </div>
        <div class='form-group'>
            <label for="year">Year:</label>
            <input class='form-control' type="text" id='year' name='year'>
        </div>
        <div>
            <input class='btn btn-primary' type="submit">
        </div>
    </form>
</div>
{%endblock%}